//
// Colors
// --------------------------------------------------

$black: #000;
$white: #fff;
$near-black: #212020;

$grey-warm--xdark: #2C2B2A;
$grey-warm--dark: #383736;
$grey-warm--medium: #807D7B;

$grey-cool--green: #ECEEEB;
$grey-cool--blue: #E1E3E3;

$beige: #E4E1DE;
$cream: #FAF8F4;

$brick: #7D3029;
$brick--tint: #87423A;
$brick--lighter: lighten($brick, 30%);
